:root {
  --primary-text-colour: #757575;
  --title-text-colour: #212121;
  --accent-text-colour: #2196F3;
  --object-colour: #FFFFFF;
  --secondary-background-colour: #2F303A;
  --variative-backgroung-colour:#F5F4FA;
  --icons-colour: rgba(175, 177, 184, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  height: auto;
  background-image: url();
}

body {
  background-color: var(--object-colour);
  color: var(--primary-text-colour);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  color: var(--primary-text-colour);
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding {
  padding-bottom: 0;
}

.section-title {
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: flex;
  color: var(--accent-text-colour);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-text {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.secondary-logo-studio {
  color: var(--object-colour);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-colour);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-colour);
}

.site-nav__link.current {
  color: var(--accent-text-colour);
}

.site-nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  color: var(--accent-text-colour);
  background: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__link {
  color: var(--primary-text-colour);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-text-colour);
}

.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.button {
  font-family: inherit;
  color: var(--object-colour);
  background-color: var(--accent-text-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.networks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-text-colour);
  color: var(--object-colour);
}

.networks__item + .networks__item {
  margin-left: 10px;
}

.filtr__btn {
  background-color: #f5f4fa;
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  border: #f5f4fa;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr__btn:hover, .filtr__btn:focus, .filtr__btn:active {
  background-color: var(--accent-text-colour);
  color: var(--object-colour);
  border: var(--object-colour);
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr__item + .filtr__item {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.projects__title {
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__type {
  font-size: 16px;
  line-height: 1.87;
}

.projects__contant {
  padding: 24px 20px;
  background: var(--object-colour);
  border: 1px solid #EEEEEE;
  border-top: none;
  box-sizing: border-box;
}

.projects__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: var(--object-colour);
  padding: 63px 24px;
}

.projects__text-box {
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  bottom: -100%;
  left: 0;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__picture-box {
  position: relative;
  overflow: hidden;
}

.projects__card {
  text-decoration: none;
  color: var(--primary-text-colour);
}

.projects__card:hover .projects__text-box,
.projects__card:focus .projects__text-box {
  opacity: 1;
  transform: translateY(-100%);
}

/* backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  position: fixed;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__vector-icons {
  width: 11px;
  height: 11px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
}

.modal__close:hover, .modal__close:focus {
  fill: var(--accent-text-colour);
  cursor: pointer;
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form__action {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.14;
  text-align: center;
  color: var(--title-text-colour);
  margin-bottom: 12px;
}

.form__label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 4px;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form__comment {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__policy {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 12px;
  margin-bottom: 0;
}

.form__checkbox-text {
  display: inline-flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-text-colour);
  cursor: pointer;
}

.form__icons {
  fill: var(--title-text-colour);
}

.form__input:hover + .form__icons,
.form__input:focus + .form__icons {
  fill: var(--accent-text-colour);
}

.form__textarea {
  resize: none;
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover, .form__textarea:focus {
  border: 1px solid var(--accent-text-colour);
  cursor: pointer;
}

.form__textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-box {
  display: inline-flex;
  text-align: center;
}

.form__check-box-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__icon-tick {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2 px;
  margin-right: 8px;
}

.form__check-box-icon:checked + .form__icon-tick {
  border-color: transparent;
  background-color: var(--accent-text-colour);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__conditions {
  color: var(--accent-text-colour);
  margin-left: 4px;
}

.modal__submit-button {
  font-family: inherit;
  color: var(--object-colour);
  background-color: var(--accent-text-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 55px;
  border-radius: 4px;
  margin-top: 30px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-button:hover, .modal__submit-button:focus {
  background-color: #188CE8;
}

.modal__submit-button-box {
  text-align: center;
}

.form__icons {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__block {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.hero__block {
  padding: 200px 0;
}

.hero__title {
  color: var(--object-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero {
  background-color: var(--secondary-background-colour);
  text-align: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
}

.activities {
  display: flex;
}

.activities__item + .activities__item {
  margin-left: 30px;
}

.activities__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--object-colour);
  position: absolute;
}

.activities__name-box {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.activities__item {
  position: relative;
}

.features {
  width: 1170;
}

.features__list {
  display: flex;
  align-items: center;
}

.features__title {
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.features__item {
  width: 270px;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features__icons {
  width: 70px;
  height: 70px;
}

.features__icons-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background-color: var(--variative-backgroung-colour);
}

.card__name {
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.card__job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team__list {
  display: flex;
}

.team__item {
  margin-right: 30px;
}

.team__item:last-child {
  margin-right: 0px;
}

.card__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  background: var(--object-colour);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients {
  display: flex;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icons-colour);
  width: 170px;
  height: 90px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-colour);
  border: 1px solid var(--accent-text-colour);
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__icons {
  fill: currentColor;
}

.footer__block {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--secondary-background-colour);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__text {
  color: var(--object-colour);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.address__box {
  margin-top: 20px;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail {
  margin-bottom: 9px;
}

.address__contacts:hover,
.address__contacts:focus {
  color: var(--accent-text-colour);
}

/* join */
.address {
  flex-basis: calc((50%-45px) / 2);
}

.icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--object-colour);
  margin-bottom: 20px;
}

.join__list {
  display: flex;
}

.join__link {
  color: var(--object-colour);
  background: rgba(255, 255, 255, 0.1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-text-colour);
}

.join__item + .join__item {
  margin-left: 10px;
}

.subscribe {
  flex-basis: calc(50% - 15px);
  margin-left: 15px;
}

.subscribe__action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--object-colour);
  margin-bottom: 20px;
}

.subscribe__mail {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--secondary-background-colour);
  border-radius: 4px;
  margin: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  color: var(--object-colour);
}

.subscribe__form {
  display: inline-flex;
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--object-colour);
  padding: 10px 29px;
  cursor: pointer;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  color: var(--object-colour);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */